/**
 *	GoSpotCheck Styleguide
 *	Common Header Styles
 *
 *	Styles common to all header types
 */

body > header {
	@include transition(background);
	font-size: 14px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;


	// Header With Dropdown Items
	
	&.has-dropdown {
		.sub-menu {
			@include transition();
			background: $white-100;
			border-radius: 0 3px 3px 3px;
			box-shadow: 0 2px 2px transparentize($white-0, 0.75);
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;

			a {
				display: block;
				font-size: 12px;
				line-height: $header-height / 1.5;
				width: $gutter-width * 11;

				@include respond-to('colonel') {
					font-size: 14px;
					line-height: $header-height * 0.9;
					padding-left: $gutter-width * 1.25 !important;
					width: auto;
				}
			}

			a:hover {
				background: $white-85;

				@include respond-to('colonel') {
					background: none;
				}
			}

			li:first-child a:hover {
				border-top-right-radius: $border-radius;
			}

			li:last-child a:hover {
				border-radius: 0 0 $border-radius $border-radius;
			}
		}

		// top level items with children
		.menu-item-has-children {
			@include transition();
			position: relative;

			// top level item was clicked; JS added "open" class; show sub menu
			&.open {
				background: $white-100;
				border-radius: 3px 3px 0 0;

				@include respond-to('colonel') {
					background: none;
				}
			}

			&.open > a:after {
				transform: rotate(180deg);
			}

			&.open a {
				color: $white-0;

				@include respond-to('colonel') {
					color: $white-67;

					&:hover {
						color: $white-100;
					}
				}
			}

			&.open a:hover:before {
				height: 0;
			}

			&.open .sub-menu {
				max-height: 500px;
				opacity: 1;
			}

			> a {
				padding-right: 10px;
			}

			// down arrow
			> a:after {
				@include transition(transform);
				-webkit-font-feature-settings: 'liga';
				-webkit-font-smoothing: antialiased;
				content: "arrow_drop_down";
				float: right;
				font: 18px/#{$header-height} "Material Icons";

				@include respond-to('colonel') {
					font-size: 28px;
					margin-right: -4px;
				}
			}
		}
	}

	
	// Mobile Nav (When Opened, <header> gains this class)

	&.open {
		@include respond-to('colonel') {
			background: transparentize($white-0, 0.05);
			height: auto;
		}

		@media screen and (max-height: 568px) {
			height: 100vh;
			overflow: scroll;
		}

		button span {
			transform: rotate(45deg);

			& + span {
				margin-top: -4px;
				transform: rotate(-45deg);
			}

			&:last-child {
				height: 0;
				opacity: 0;
				transform: none;
			}
		}

		nav:first-of-type {
			max-height: 100vh;

			li {
				@include respond-to('colonel') {
					opacity: 1;
				}
			}
		}

		.sub-menu {
			@include respond-to('colonel') {
				background: none;
				position: static;
			}
		}

		.nav-wrapper {
			max-height: 100vh;
		}
	}


	// Mobile Nav Hamburger (when menu is closed)

	button {
		background: none;
		cursor: pointer;
		display: none;
		float: right;
		min-height: $header-height;
		opacity: 0.65;
		padding: $gutter-width;

		&:hover {
			opacity: 1;
		}

		span {
			@include transition(all, 300ms, ease-in-out);
			background-color: $white-100;
			display: block;
			height: 4px;
			width: $gutter-width;
		}

		span + span {
			margin-top: 4px;
		}

		@include respond-to('colonel') {
			display: block;
		}
	}

	li {
		float: left;
		list-style: none;

		&.current-menu-item a {
			color: $white-100;
		}
	}

	nav {
		a {
			@include transition();
			color: $white-67;
			display: inline-block;
			line-height: $header-height;
			padding: 0 15px;

			&:hover {
				color: $white-100;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}
}


// Header Logo

.logo {
	background: url('../images/logo.svg');
	background-size: cover;
	float: left;
	height: 0;
	margin: 18px 20px 21px;
	padding-top: 21px;
	// margin: 18px 20px;
	overflow: hidden;
	// padding: 24px 0 0;
	// width: 184px;
	width: 160px;

	@include respond-to('corporal') {
		background: url('../images/logo-icon.svg');
		margin-top: 15px;
		padding-top: 24px;
		width: 24px;
	}
}


// Extra Wrapper - Needed so 2nd Nav Animates in Nicely

.nav-wrapper {
	@include transition(max-height);
	@include respond-to('captain') {
		clear: both;
		max-height: 0;
		overflow: hidden;
	}
}